.preview{
    height: 56px;
    width: calc(100% - 40px);
    padding: 12px;
}
.MessageBox{
    border-radius: 22px;
    border: 0.8px solid rgb(54,54,54);
}
.inputMsg{
    border: none;
    background: transparent;
    display: flex;
    flex-grow: 1;
    color: whitesmoke;
}
.msgBtn{
    border: none;
    background: transparent;
    color: rgb(0 149 246);
    font-size: 14px;
    font-weight: 600;
    margin-right: 2px;
    cursor: pointer;
    outline-color: rgb(0 149 246);
}
.INPUT{
    flex-grow: 1;
    display: flex;
    .Iinput{
        padding-left: 10px;
        width: 100%;
        background: transparent;
        appearance: none;
        border: none;
        color: white;
        outline: none;
    }
}
.INPUT input{
    width: 100%;
}
.MSGSend{
    width: 31.675px;
    height: 18px;
    margin-right: 2px;
    color: rgb(0, 149, 246);
    background-color: transparent;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MsgImgPreview{
    display: flex;
    width: 100%;
}