.ProfileMain{
    display: flex;
    flex-grow: 1;
    background-color: violet;
    overflow: auto;
    scrollbar-width: none;
}
.Profile{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  @media screen and (min-width:766px) {
    .Profile{
      flex-direction: row;
    }
  }