.App{
  width: 100vw;
  min-height: 100vh;
  background: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  scrollbar-width: none;
}
a {
  text-decoration: none;
}
@media screen and (min-width:766px) {
  .App{
    flex-direction: row;
  }
}